body {
    background: url(../images/background.jpeg) repeat 0 0;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    background-color: wheat;
    height: 640px;
    margin-top: 40px;
}

h1 {
    margin: 0 auto;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    padding: 20px;
    color: red;
}

#start-button {
    margin: 200px 450px;
    padding: 25px 50px;
    font-size: 20px;
    color: red;
    

}
#start-button:hover {
    padding: 25px 50px;
    border-color: brown;
    border-width: 5px;
    background: red;
    color: white;
}

#questions {
    padding: 25px 50px;
    font-size: 20px;
    color: red;
    margin: 0 auto;
}

#options {
    padding: 25px 50px;
    font-size: 20px;
    color: red;
    margin: 0 auto;
}

#options:hover {
    padding: 25px 50px;
    border-color: brown;
    border-width: 5px;
    background: red;
    color: white;
}

